.lst-kix_8ia840nd2qnl-8>li:before{
    content:"\0025a0 "
}
ol.lst-kix_7y8yznsd3e2u-5.start{
    counter-reset:lst-ctn-kix_7y8yznsd3e2u-5 0
}
.lst-kix_8ia840nd2qnl-7>li:before{
    content:"\0025cb "
}
ol.lst-kix_h39oat3r5eoi-5.start{
    counter-reset:lst-ctn-kix_h39oat3r5eoi-5 0
}
.lst-kix_8ia840nd2qnl-6>li:before{
    content:"\0025cf "
}
ol.lst-kix_xmv83rt4636t-8{
    list-style-type:none
}
ol.lst-kix_xmv83rt4636t-6{
    list-style-type:none
}
ol.lst-kix_xmv83rt4636t-7{
    list-style-type:none
}
ol.lst-kix_xmv83rt4636t-4{
    list-style-type:none
}
ol.lst-kix_7dm1ahgy58l0-5.start{
    counter-reset:lst-ctn-kix_7dm1ahgy58l0-5 0
}
ol.lst-kix_xmv83rt4636t-5{
    list-style-type:none
}
ol.lst-kix_xmv83rt4636t-2{
    list-style-type:none
}
ol.lst-kix_xmv83rt4636t-2.start{
    counter-reset:lst-ctn-kix_xmv83rt4636t-2 0
}
ol.lst-kix_xmv83rt4636t-3{
    list-style-type:none
}
ol.lst-kix_xmv83rt4636t-0{
    list-style-type:none
}
ol.lst-kix_xmv83rt4636t-1{
    list-style-type:none
}
.lst-kix_xmv83rt4636t-1>li{
    counter-increment:lst-ctn-kix_xmv83rt4636t-1
}
ol.lst-kix_mhx1l9l96xgk-7.start{
    counter-reset:lst-ctn-kix_mhx1l9l96xgk-7 0
}
ol.lst-kix_uuosod7jpg8a-4.start{
    counter-reset:lst-ctn-kix_uuosod7jpg8a-4 0
}
.lst-kix_8i9nxg2zij2f-7>li{
    counter-increment:lst-ctn-kix_8i9nxg2zij2f-7
}
ol.lst-kix_7dm1ahgy58l0-0.start{
    counter-reset:lst-ctn-kix_7dm1ahgy58l0-0 0
}
.lst-kix_7dm1ahgy58l0-6>li{
    counter-increment:lst-ctn-kix_7dm1ahgy58l0-6
}
.lst-kix_7y8yznsd3e2u-6>li{
    counter-increment:lst-ctn-kix_7y8yznsd3e2u-6
}
ol.lst-kix_8i9nxg2zij2f-7.start{
    counter-reset:lst-ctn-kix_8i9nxg2zij2f-7 0
}
.lst-kix_h39oat3r5eoi-0>li:before{
    content:"" counter(lst-ctn-kix_h39oat3r5eoi-0,decimal) ". "
}
.lst-kix_8i9nxg2zij2f-0>li{
    counter-increment:lst-ctn-kix_8i9nxg2zij2f-0
}
.lst-kix_h39oat3r5eoi-3>li:before{
    content:"" counter(lst-ctn-kix_h39oat3r5eoi-3,decimal) ". "
}
.lst-kix_h39oat3r5eoi-4>li:before{
    content:"" counter(lst-ctn-kix_h39oat3r5eoi-4,lower-latin) ". "
}
.lst-kix_h39oat3r5eoi-5>li:before{
    content:"" counter(lst-ctn-kix_h39oat3r5eoi-5,lower-roman) ". "
}
ol.lst-kix_mhx1l9l96xgk-2.start{
    counter-reset:lst-ctn-kix_mhx1l9l96xgk-2 0
}
ol.lst-kix_xmv83rt4636t-7.start{
    counter-reset:lst-ctn-kix_xmv83rt4636t-7 0
}
.lst-kix_h39oat3r5eoi-2>li:before{
    content:"" counter(lst-ctn-kix_h39oat3r5eoi-2,lower-roman) ". "
}
.lst-kix_h39oat3r5eoi-1>li:before{
    content:"" counter(lst-ctn-kix_h39oat3r5eoi-1,lower-latin) ". "
}
.lst-kix_h39oat3r5eoi-7>li{
    counter-increment:lst-ctn-kix_h39oat3r5eoi-7
}
.lst-kix_8ia840nd2qnl-0>li:before{
    content:"\0025cf "
}
.lst-kix_7y8yznsd3e2u-2>li{
    counter-increment:lst-ctn-kix_7y8yznsd3e2u-2
}
ol.lst-kix_8i9nxg2zij2f-2.start{
    counter-reset:lst-ctn-kix_8i9nxg2zij2f-2 0
}
.lst-kix_8ia840nd2qnl-4>li:before{
    content:"\0025cb "
}
.lst-kix_h39oat3r5eoi-7>li:before{
    content:"" counter(lst-ctn-kix_h39oat3r5eoi-7,lower-latin) ". "
}
.lst-kix_mhx1l9l96xgk-8>li{
    counter-increment:lst-ctn-kix_mhx1l9l96xgk-8
}
.lst-kix_8ia840nd2qnl-3>li:before{
    content:"\0025cf "
}
.lst-kix_8ia840nd2qnl-5>li:before{
    content:"\0025a0 "
}
.lst-kix_h39oat3r5eoi-6>li:before{
    content:"" counter(lst-ctn-kix_h39oat3r5eoi-6,decimal) ". "
}
.lst-kix_h39oat3r5eoi-8>li:before{
    content:"" counter(lst-ctn-kix_h39oat3r5eoi-8,lower-roman) ". "
}
.lst-kix_8ia840nd2qnl-1>li:before{
    content:"\0025cb "
}
.lst-kix_8ia840nd2qnl-2>li:before{
    content:"\0025a0 "
}
.lst-kix_8i9nxg2zij2f-3>li{
    counter-increment:lst-ctn-kix_8i9nxg2zij2f-3
}
ol.lst-kix_mhx1l9l96xgk-0.start{
    counter-reset:lst-ctn-kix_mhx1l9l96xgk-0 0
}
.lst-kix_xmv83rt4636t-8>li{
    counter-increment:lst-ctn-kix_xmv83rt4636t-8
}
ul.lst-kix_yaddz9mwe536-0{
    list-style-type:none
}
ul.lst-kix_yaddz9mwe536-4{
    list-style-type:none
}
ul.lst-kix_yaddz9mwe536-3{
    list-style-type:none
}
ul.lst-kix_yaddz9mwe536-2{
    list-style-type:none
}
ul.lst-kix_yaddz9mwe536-1{
    list-style-type:none
}
ul.lst-kix_yaddz9mwe536-8{
    list-style-type:none
}
ul.lst-kix_yaddz9mwe536-7{
    list-style-type:none
}
ul.lst-kix_yaddz9mwe536-6{
    list-style-type:none
}
ul.lst-kix_yaddz9mwe536-5{
    list-style-type:none
}
.lst-kix_xfcgjdg2hxtj-4>li:before{
    content:"\0025cb "
}
.lst-kix_8i9nxg2zij2f-1>li:before{
    content:"" counter(lst-ctn-kix_8i9nxg2zij2f-1,lower-latin) ". "
}
.lst-kix_8i9nxg2zij2f-3>li:before{
    content:"" counter(lst-ctn-kix_8i9nxg2zij2f-3,decimal) ". "
}
.lst-kix_xfcgjdg2hxtj-2>li:before{
    content:"\0025a0 "
}
.lst-kix_xfcgjdg2hxtj-6>li:before{
    content:"\0025cf "
}
.lst-kix_rpybt9hhumof-4>li{
    counter-increment:lst-ctn-kix_rpybt9hhumof-4
}
.lst-kix_xfcgjdg2hxtj-0>li:before{
    content:"\0025cf "
}
.lst-kix_xfcgjdg2hxtj-8>li:before{
    content:"\0025a0 "
}
.lst-kix_8i9nxg2zij2f-5>li:before{
    content:"" counter(lst-ctn-kix_8i9nxg2zij2f-5,lower-roman) ". "
}
ol.lst-kix_uuosod7jpg8a-2.start{
    counter-reset:lst-ctn-kix_uuosod7jpg8a-2 0
}
.lst-kix_rpybt9hhumof-8>li:before{
    content:"" counter(lst-ctn-kix_rpybt9hhumof-8,lower-roman) ". "
}
ol.lst-kix_7y8yznsd3e2u-3.start{
    counter-reset:lst-ctn-kix_7y8yznsd3e2u-3 0
}
.lst-kix_mhx1l9l96xgk-4>li{
    counter-increment:lst-ctn-kix_mhx1l9l96xgk-4
}
.lst-kix_8i9nxg2zij2f-7>li:before{
    content:"" counter(lst-ctn-kix_8i9nxg2zij2f-7,lower-latin) ". "
}
ol.lst-kix_h39oat3r5eoi-7.start{
    counter-reset:lst-ctn-kix_h39oat3r5eoi-7 0
}
.lst-kix_h39oat3r5eoi-0>li{
    counter-increment:lst-ctn-kix_h39oat3r5eoi-0
}
.lst-kix_rpybt9hhumof-0>li:before{
    content:"" counter(lst-ctn-kix_rpybt9hhumof-0,decimal) ". "
}
.lst-kix_rpybt9hhumof-2>li:before{
    content:"" counter(lst-ctn-kix_rpybt9hhumof-2,lower-roman) ". "
}
ol.lst-kix_7dm1ahgy58l0-3.start{
    counter-reset:lst-ctn-kix_7dm1ahgy58l0-3 0
}
.lst-kix_rpybt9hhumof-5>li{
    counter-increment:lst-ctn-kix_rpybt9hhumof-5
}
.lst-kix_rpybt9hhumof-6>li:before{
    content:"" counter(lst-ctn-kix_rpybt9hhumof-6,decimal) ". "
}
ol.lst-kix_7y8yznsd3e2u-0.start{
    counter-reset:lst-ctn-kix_7y8yznsd3e2u-0 0
}
.lst-kix_mhx1l9l96xgk-1>li:before{
    content:"" counter(lst-ctn-kix_mhx1l9l96xgk-1,lower-latin) ". "
}
.lst-kix_rpybt9hhumof-4>li:before{
    content:"" counter(lst-ctn-kix_rpybt9hhumof-4,lower-latin) ". "
}
ol.lst-kix_8i9nxg2zij2f-5.start{
    counter-reset:lst-ctn-kix_8i9nxg2zij2f-5 0
}
.lst-kix_mhx1l9l96xgk-5>li:before{
    content:"" counter(lst-ctn-kix_mhx1l9l96xgk-5,lower-roman) ". "
}
.lst-kix_mhx1l9l96xgk-3>li:before{
    content:"" counter(lst-ctn-kix_mhx1l9l96xgk-3,decimal) ". "
}
.lst-kix_mhx1l9l96xgk-7>li:before{
    content:"" counter(lst-ctn-kix_mhx1l9l96xgk-7,lower-latin) ". "
}
.lst-kix_uuosod7jpg8a-2>li{
    counter-increment:lst-ctn-kix_uuosod7jpg8a-2
}
.lst-kix_yaddz9mwe536-1>li:before{
    content:"\0025cb "
}
ol.lst-kix_7dm1ahgy58l0-8.start{
    counter-reset:lst-ctn-kix_7dm1ahgy58l0-8 0
}
.lst-kix_7y8yznsd3e2u-7>li:before{
    content:"" counter(lst-ctn-kix_7y8yznsd3e2u-7,lower-latin) ". "
}
.lst-kix_7y8yznsd3e2u-8>li:before{
    content:"" counter(lst-ctn-kix_7y8yznsd3e2u-8,lower-roman) ". "
}
.lst-kix_8i9nxg2zij2f-8>li{
    counter-increment:lst-ctn-kix_8i9nxg2zij2f-8
}
ol.lst-kix_uuosod7jpg8a-1.start{
    counter-reset:lst-ctn-kix_uuosod7jpg8a-1 0
}
.lst-kix_yaddz9mwe536-2>li:before{
    content:"\0025a0 "
}
.lst-kix_7y8yznsd3e2u-3>li:before{
    content:"" counter(lst-ctn-kix_7y8yznsd3e2u-3,decimal) ". "
}
.lst-kix_7y8yznsd3e2u-4>li:before{
    content:"" counter(lst-ctn-kix_7y8yznsd3e2u-4,lower-latin) ". "
}
.lst-kix_uuosod7jpg8a-0>li:before{
    content:"" counter(lst-ctn-kix_uuosod7jpg8a-0,decimal) ". "
}
.lst-kix_uuosod7jpg8a-1>li:before{
    content:"" counter(lst-ctn-kix_uuosod7jpg8a-1,lower-latin) ". "
}
.lst-kix_ca48v08pn5vd-7>li:before{
    content:"\0025cb "
}
ol.lst-kix_h39oat3r5eoi-8.start{
    counter-reset:lst-ctn-kix_h39oat3r5eoi-8 0
}
.lst-kix_eun5ljcvpgio-8>li:before{
    content:"\0025a0 "
}
.lst-kix_mhx1l9l96xgk-7>li{
    counter-increment:lst-ctn-kix_mhx1l9l96xgk-7
}
.lst-kix_eun5ljcvpgio-7>li:before{
    content:"\0025cb "
}
.lst-kix_7y8yznsd3e2u-3>li{
    counter-increment:lst-ctn-kix_7y8yznsd3e2u-3
}
.lst-kix_eun5ljcvpgio-3>li:before{
    content:"\0025cf "
}
ul.lst-kix_eun5ljcvpgio-1{
    list-style-type:none
}
.lst-kix_eun5ljcvpgio-0>li:before{
    content:"\0025cf "
}
ul.lst-kix_eun5ljcvpgio-0{
    list-style-type:none
}
.lst-kix_eun5ljcvpgio-4>li:before{
    content:"\0025cb "
}
ul.lst-kix_eun5ljcvpgio-3{
    list-style-type:none
}
.lst-kix_7y8yznsd3e2u-0>li:before{
    content:"" counter(lst-ctn-kix_7y8yznsd3e2u-0,decimal) ". "
}
.lst-kix_kak08az8asay-3>li:before{
    content:"\0025cf "
}
ul.lst-kix_eun5ljcvpgio-2{
    list-style-type:none
}
ul.lst-kix_eun5ljcvpgio-5{
    list-style-type:none
}
ul.lst-kix_eun5ljcvpgio-4{
    list-style-type:none
}
ul.lst-kix_eun5ljcvpgio-7{
    list-style-type:none
}
.lst-kix_kak08az8asay-2>li:before{
    content:"\0025a0 "
}
ul.lst-kix_eun5ljcvpgio-6{
    list-style-type:none
}
ol.lst-kix_8i9nxg2zij2f-4.start{
    counter-reset:lst-ctn-kix_8i9nxg2zij2f-4 0
}
ul.lst-kix_eun5ljcvpgio-8{
    list-style-type:none
}
.lst-kix_kak08az8asay-6>li:before{
    content:"\0025cf "
}
ol.lst-kix_8i9nxg2zij2f-3.start{
    counter-reset:lst-ctn-kix_8i9nxg2zij2f-3 0
}
.lst-kix_kak08az8asay-7>li:before{
    content:"\0025cb "
}
ol.lst-kix_7dm1ahgy58l0-7.start{
    counter-reset:lst-ctn-kix_7dm1ahgy58l0-7 0
}
.lst-kix_ca48v08pn5vd-6>li:before{
    content:"\0025cf "
}
.lst-kix_xmv83rt4636t-4>li{
    counter-increment:lst-ctn-kix_xmv83rt4636t-4
}
.lst-kix_7dm1ahgy58l0-8>li:before{
    content:"" counter(lst-ctn-kix_7dm1ahgy58l0-8,lower-roman) ". "
}
.lst-kix_7dm1ahgy58l0-5>li:before{
    content:"" counter(lst-ctn-kix_7dm1ahgy58l0-5,lower-roman) ". "
}
.lst-kix_ca48v08pn5vd-3>li:before{
    content:"\0025cf "
}
.lst-kix_7dm1ahgy58l0-7>li{
    counter-increment:lst-ctn-kix_7dm1ahgy58l0-7
}
.lst-kix_h39oat3r5eoi-4>li{
    counter-increment:lst-ctn-kix_h39oat3r5eoi-4
}
.lst-kix_mhx1l9l96xgk-2>li{
    counter-increment:lst-ctn-kix_mhx1l9l96xgk-2
}
.lst-kix_ca48v08pn5vd-2>li:before{
    content:"\0025a0 "
}
.lst-kix_mhx1l9l96xgk-5>li{
    counter-increment:lst-ctn-kix_mhx1l9l96xgk-5
}
ol.lst-kix_uuosod7jpg8a-0.start{
    counter-reset:lst-ctn-kix_uuosod7jpg8a-0 0
}
.lst-kix_yaddz9mwe536-5>li:before{
    content:"\0025a0 "
}
.lst-kix_yaddz9mwe536-6>li:before{
    content:"\0025cf "
}
.lst-kix_7dm1ahgy58l0-1>li:before{
    content:"" counter(lst-ctn-kix_7dm1ahgy58l0-1,lower-latin) ". "
}
ol.lst-kix_8i9nxg2zij2f-0.start{
    counter-reset:lst-ctn-kix_8i9nxg2zij2f-0 0
}
.lst-kix_8i9nxg2zij2f-0>li:before{
    content:"" counter(lst-ctn-kix_8i9nxg2zij2f-0,decimal) ". "
}
.lst-kix_rpybt9hhumof-3>li{
    counter-increment:lst-ctn-kix_rpybt9hhumof-3
}
.lst-kix_rpybt9hhumof-1>li{
    counter-increment:lst-ctn-kix_rpybt9hhumof-1
}
.lst-kix_xfcgjdg2hxtj-5>li:before{
    content:"\0025a0 "
}
.lst-kix_xmv83rt4636t-6>li{
    counter-increment:lst-ctn-kix_xmv83rt4636t-6
}
ol.lst-kix_mhx1l9l96xgk-6.start{
    counter-reset:lst-ctn-kix_mhx1l9l96xgk-6 0
}
.lst-kix_xfcgjdg2hxtj-1>li:before{
    content:"\0025cb "
}
ol.lst-kix_7dm1ahgy58l0-0{
    list-style-type:none
}
ol.lst-kix_7dm1ahgy58l0-1{
    list-style-type:none
}
.lst-kix_8i9nxg2zij2f-4>li:before{
    content:"" counter(lst-ctn-kix_8i9nxg2zij2f-4,lower-latin) ". "
}
ol.lst-kix_7dm1ahgy58l0-2{
    list-style-type:none
}
ol.lst-kix_7dm1ahgy58l0-3{
    list-style-type:none
}
ol.lst-kix_7dm1ahgy58l0-4{
    list-style-type:none
}
ol.lst-kix_7dm1ahgy58l0-5{
    list-style-type:none
}
ol.lst-kix_7dm1ahgy58l0-6{
    list-style-type:none
}
ol.lst-kix_7dm1ahgy58l0-7{
    list-style-type:none
}
ol.lst-kix_7dm1ahgy58l0-8{
    list-style-type:none
}
.lst-kix_h39oat3r5eoi-2>li{
    counter-increment:lst-ctn-kix_h39oat3r5eoi-2
}
.lst-kix_8i9nxg2zij2f-8>li:before{
    content:"" counter(lst-ctn-kix_8i9nxg2zij2f-8,lower-roman) ". "
}
ol.lst-kix_mhx1l9l96xgk-3.start{
    counter-reset:lst-ctn-kix_mhx1l9l96xgk-3 0
}
ol.lst-kix_mhx1l9l96xgk-5.start{
    counter-reset:lst-ctn-kix_mhx1l9l96xgk-5 0
}
.lst-kix_mhx1l9l96xgk-0>li{
    counter-increment:lst-ctn-kix_mhx1l9l96xgk-0
}
.lst-kix_7y8yznsd3e2u-1>li{
    counter-increment:lst-ctn-kix_7y8yznsd3e2u-1
}
.lst-kix_rpybt9hhumof-1>li:before{
    content:"" counter(lst-ctn-kix_rpybt9hhumof-1,lower-latin) ". "
}
.lst-kix_rpybt9hhumof-5>li:before{
    content:"" counter(lst-ctn-kix_rpybt9hhumof-5,lower-roman) ". "
}
.lst-kix_xmv83rt4636t-3>li:before{
    content:"" counter(lst-ctn-kix_xmv83rt4636t-3,decimal) ". "
}
.lst-kix_8i9nxg2zij2f-5>li{
    counter-increment:lst-ctn-kix_8i9nxg2zij2f-5
}
.lst-kix_7dm1ahgy58l0-2>li{
    counter-increment:lst-ctn-kix_7dm1ahgy58l0-2
}
.lst-kix_xmv83rt4636t-7>li:before{
    content:"" counter(lst-ctn-kix_xmv83rt4636t-7,lower-latin) ". "
}
.lst-kix_mhx1l9l96xgk-0>li:before{
    content:"" counter(lst-ctn-kix_mhx1l9l96xgk-0,decimal) ". "
}
ol.lst-kix_mhx1l9l96xgk-4.start{
    counter-reset:lst-ctn-kix_mhx1l9l96xgk-4 0
}
.lst-kix_uuosod7jpg8a-4>li:before{
    content:"" counter(lst-ctn-kix_uuosod7jpg8a-4,lower-latin) ". "
}
.lst-kix_mhx1l9l96xgk-4>li:before{
    content:"" counter(lst-ctn-kix_mhx1l9l96xgk-4,lower-latin) ". "
}
.lst-kix_uuosod7jpg8a-8>li:before{
    content:"" counter(lst-ctn-kix_uuosod7jpg8a-8,lower-roman) ". "
}
.lst-kix_rpybt9hhumof-8>li{
    counter-increment:lst-ctn-kix_rpybt9hhumof-8
}
.lst-kix_uuosod7jpg8a-5>li{
    counter-increment:lst-ctn-kix_uuosod7jpg8a-5
}
.lst-kix_mhx1l9l96xgk-8>li:before{
    content:"" counter(lst-ctn-kix_mhx1l9l96xgk-8,lower-roman) ". "
}
.lst-kix_7y8yznsd3e2u-4>li{
    counter-increment:lst-ctn-kix_7y8yznsd3e2u-4
}
ol.lst-kix_8i9nxg2zij2f-1.start{
    counter-reset:lst-ctn-kix_8i9nxg2zij2f-1 0
}
ul.lst-kix_ca48v08pn5vd-1{
    list-style-type:none
}
ul.lst-kix_ca48v08pn5vd-0{
    list-style-type:none
}
ul.lst-kix_ca48v08pn5vd-3{
    list-style-type:none
}
ul.lst-kix_ca48v08pn5vd-2{
    list-style-type:none
}
.lst-kix_xmv83rt4636t-3>li{
    counter-increment:lst-ctn-kix_xmv83rt4636t-3
}
ul.lst-kix_ca48v08pn5vd-5{
    list-style-type:none
}
ul.lst-kix_ca48v08pn5vd-4{
    list-style-type:none
}
ul.lst-kix_ca48v08pn5vd-7{
    list-style-type:none
}
.lst-kix_uuosod7jpg8a-0>li{
    counter-increment:lst-ctn-kix_uuosod7jpg8a-0
}
ul.lst-kix_ca48v08pn5vd-6{
    list-style-type:none
}
ul.lst-kix_ca48v08pn5vd-8{
    list-style-type:none
}
ol.lst-kix_xmv83rt4636t-8.start{
    counter-reset:lst-ctn-kix_xmv83rt4636t-8 0
}
ol.lst-kix_h39oat3r5eoi-4.start{
    counter-reset:lst-ctn-kix_h39oat3r5eoi-4 0
}
.lst-kix_uuosod7jpg8a-7>li{
    counter-increment:lst-ctn-kix_uuosod7jpg8a-7
}
.lst-kix_rpybt9hhumof-6>li{
    counter-increment:lst-ctn-kix_rpybt9hhumof-6
}
.lst-kix_7y8yznsd3e2u-8>li{
    counter-increment:lst-ctn-kix_7y8yznsd3e2u-8
}
.lst-kix_7dm1ahgy58l0-4>li{
    counter-increment:lst-ctn-kix_7dm1ahgy58l0-4
}
ol.lst-kix_mhx1l9l96xgk-1.start{
    counter-reset:lst-ctn-kix_mhx1l9l96xgk-1 0
}
ol.lst-kix_7y8yznsd3e2u-4.start{
    counter-reset:lst-ctn-kix_7y8yznsd3e2u-4 0
}
ol.lst-kix_mhx1l9l96xgk-8.start{
    counter-reset:lst-ctn-kix_mhx1l9l96xgk-8 0
}
.lst-kix_mhx1l9l96xgk-3>li{
    counter-increment:lst-ctn-kix_mhx1l9l96xgk-3
}
ol.lst-kix_8i9nxg2zij2f-8.start{
    counter-reset:lst-ctn-kix_8i9nxg2zij2f-8 0
}
.lst-kix_7dm1ahgy58l0-0>li:before{
    content:"" counter(lst-ctn-kix_7dm1ahgy58l0-0,decimal) ". "
}
.lst-kix_7dm1ahgy58l0-2>li:before{
    content:"" counter(lst-ctn-kix_7dm1ahgy58l0-2,lower-roman) ". "
}
.lst-kix_7dm1ahgy58l0-4>li:before{
    content:"" counter(lst-ctn-kix_7dm1ahgy58l0-4,lower-latin) ". "
}
.lst-kix_xmv83rt4636t-7>li{
    counter-increment:lst-ctn-kix_xmv83rt4636t-7
}
.lst-kix_8i9nxg2zij2f-2>li{
    counter-increment:lst-ctn-kix_8i9nxg2zij2f-2
}
.lst-kix_8i9nxg2zij2f-1>li{
    counter-increment:lst-ctn-kix_8i9nxg2zij2f-1
}
.lst-kix_uuosod7jpg8a-3>li{
    counter-increment:lst-ctn-kix_uuosod7jpg8a-3
}
ol.lst-kix_rpybt9hhumof-0.start{
    counter-reset:lst-ctn-kix_rpybt9hhumof-0 0
}
.lst-kix_h39oat3r5eoi-5>li{
    counter-increment:lst-ctn-kix_h39oat3r5eoi-5
}
ol.lst-kix_uuosod7jpg8a-5.start{
    counter-reset:lst-ctn-kix_uuosod7jpg8a-5 0
}
ol.lst-kix_7dm1ahgy58l0-6.start{
    counter-reset:lst-ctn-kix_7dm1ahgy58l0-6 0
}
.lst-kix_7dm1ahgy58l0-0>li{
    counter-increment:lst-ctn-kix_7dm1ahgy58l0-0
}
.lst-kix_xmv83rt4636t-0>li:before{
    content:"" counter(lst-ctn-kix_xmv83rt4636t-0,decimal) ". "
}
ol.lst-kix_uuosod7jpg8a-3.start{
    counter-reset:lst-ctn-kix_uuosod7jpg8a-3 0
}
.lst-kix_kak08az8asay-0>li:before{
    content:"\0025cf "
}
.lst-kix_xmv83rt4636t-2>li:before{
    content:"" counter(lst-ctn-kix_xmv83rt4636t-2,lower-roman) ". "
}
.lst-kix_h39oat3r5eoi-6>li{
    counter-increment:lst-ctn-kix_h39oat3r5eoi-6
}
.lst-kix_xmv83rt4636t-4>li:before{
    content:"" counter(lst-ctn-kix_xmv83rt4636t-4,lower-latin) ". "
}
ol.lst-kix_8i9nxg2zij2f-6.start{
    counter-reset:lst-ctn-kix_8i9nxg2zij2f-6 0
}
.lst-kix_xmv83rt4636t-6>li:before{
    content:"" counter(lst-ctn-kix_xmv83rt4636t-6,decimal) ". "
}
.lst-kix_xmv83rt4636t-8>li:before{
    content:"" counter(lst-ctn-kix_xmv83rt4636t-8,lower-roman) ". "
}
ol.lst-kix_7y8yznsd3e2u-1.start{
    counter-reset:lst-ctn-kix_7y8yznsd3e2u-1 0
}
.lst-kix_uuosod7jpg8a-5>li:before{
    content:"" counter(lst-ctn-kix_uuosod7jpg8a-5,lower-roman) ". "
}
ol.lst-kix_7dm1ahgy58l0-4.start{
    counter-reset:lst-ctn-kix_7dm1ahgy58l0-4 0
}
.lst-kix_uuosod7jpg8a-7>li:before{
    content:"" counter(lst-ctn-kix_uuosod7jpg8a-7,lower-latin) ". "
}
.lst-kix_uuosod7jpg8a-8>li{
    counter-increment:lst-ctn-kix_uuosod7jpg8a-8
}
.lst-kix_xmv83rt4636t-2>li{
    counter-increment:lst-ctn-kix_xmv83rt4636t-2
}
ol.lst-kix_h39oat3r5eoi-6.start{
    counter-reset:lst-ctn-kix_h39oat3r5eoi-6 0
}
.lst-kix_yaddz9mwe536-0>li:before{
    content:"\0025cf "
}
ol.lst-kix_h39oat3r5eoi-0{
    list-style-type:none
}
ol.lst-kix_h39oat3r5eoi-1{
    list-style-type:none
}
ol.lst-kix_7y8yznsd3e2u-0{
    list-style-type:none
}
ol.lst-kix_7y8yznsd3e2u-1{
    list-style-type:none
}
ol.lst-kix_8i9nxg2zij2f-7{
    list-style-type:none
}
ol.lst-kix_8i9nxg2zij2f-8{
    list-style-type:none
}
ol.lst-kix_8i9nxg2zij2f-5{
    list-style-type:none
}
ol.lst-kix_xmv83rt4636t-5.start{
    counter-reset:lst-ctn-kix_xmv83rt4636t-5 0
}
ol.lst-kix_8i9nxg2zij2f-6{
    list-style-type:none
}
ol.lst-kix_7y8yznsd3e2u-6{
    list-style-type:none
}
ol.lst-kix_h39oat3r5eoi-8{
    list-style-type:none
}
ol.lst-kix_7y8yznsd3e2u-7{
    list-style-type:none
}
.lst-kix_yaddz9mwe536-3>li:before{
    content:"\0025cf "
}
ol.lst-kix_7y8yznsd3e2u-8{
    list-style-type:none
}
ol.lst-kix_h39oat3r5eoi-6{
    list-style-type:none
}
ol.lst-kix_h39oat3r5eoi-7{
    list-style-type:none
}
ol.lst-kix_7y8yznsd3e2u-2{
    list-style-type:none
}
ol.lst-kix_rpybt9hhumof-2.start{
    counter-reset:lst-ctn-kix_rpybt9hhumof-2 0
}
ol.lst-kix_h39oat3r5eoi-4{
    list-style-type:none
}
ol.lst-kix_7y8yznsd3e2u-3{
    list-style-type:none
}
ol.lst-kix_h39oat3r5eoi-5{
    list-style-type:none
}
.lst-kix_7y8yznsd3e2u-2>li:before{
    content:"" counter(lst-ctn-kix_7y8yznsd3e2u-2,lower-roman) ". "
}
ol.lst-kix_7y8yznsd3e2u-4{
    list-style-type:none
}
ol.lst-kix_h39oat3r5eoi-2{
    list-style-type:none
}
ol.lst-kix_7y8yznsd3e2u-5{
    list-style-type:none
}
ol.lst-kix_h39oat3r5eoi-3{
    list-style-type:none
}
.lst-kix_7y8yznsd3e2u-5>li:before{
    content:"" counter(lst-ctn-kix_7y8yznsd3e2u-5,lower-roman) ". "
}
ol.lst-kix_8i9nxg2zij2f-3{
    list-style-type:none
}
ol.lst-kix_8i9nxg2zij2f-4{
    list-style-type:none
}
.lst-kix_uuosod7jpg8a-3>li:before{
    content:"" counter(lst-ctn-kix_uuosod7jpg8a-3,decimal) ". "
}
ol.lst-kix_8i9nxg2zij2f-1{
    list-style-type:none
}
ol.lst-kix_8i9nxg2zij2f-2{
    list-style-type:none
}
ol.lst-kix_8i9nxg2zij2f-0{
    list-style-type:none
}
.lst-kix_7dm1ahgy58l0-5>li{
    counter-increment:lst-ctn-kix_7dm1ahgy58l0-5
}
.lst-kix_uuosod7jpg8a-2>li:before{
    content:"" counter(lst-ctn-kix_uuosod7jpg8a-2,lower-roman) ". "
}
.lst-kix_7y8yznsd3e2u-6>li:before{
    content:"" counter(lst-ctn-kix_7y8yznsd3e2u-6,decimal) ". "
}
ol.lst-kix_h39oat3r5eoi-2.start{
    counter-reset:lst-ctn-kix_h39oat3r5eoi-2 0
}
ol.lst-kix_7y8yznsd3e2u-2.start{
    counter-reset:lst-ctn-kix_7y8yznsd3e2u-2 0
}
ol.lst-kix_7dm1ahgy58l0-2.start{
    counter-reset:lst-ctn-kix_7dm1ahgy58l0-2 0
}
.lst-kix_xmv83rt4636t-0>li{
    counter-increment:lst-ctn-kix_xmv83rt4636t-0
}
.lst-kix_ca48v08pn5vd-8>li:before{
    content:"\0025a0 "
}
.lst-kix_eun5ljcvpgio-6>li:before{
    content:"\0025cf "
}
.lst-kix_rpybt9hhumof-7>li{
    counter-increment:lst-ctn-kix_rpybt9hhumof-7
}
.lst-kix_7y8yznsd3e2u-1>li:before{
    content:"" counter(lst-ctn-kix_7y8yznsd3e2u-1,lower-latin) ". "
}
.lst-kix_7dm1ahgy58l0-3>li{
    counter-increment:lst-ctn-kix_7dm1ahgy58l0-3
}
.lst-kix_h39oat3r5eoi-8>li{
    counter-increment:lst-ctn-kix_h39oat3r5eoi-8
}
.lst-kix_eun5ljcvpgio-2>li:before{
    content:"\0025a0 "
}
.lst-kix_eun5ljcvpgio-1>li:before{
    content:"\0025cb "
}
.lst-kix_eun5ljcvpgio-5>li:before{
    content:"\0025a0 "
}
.lst-kix_kak08az8asay-1>li:before{
    content:"\0025cb "
}
ol.lst-kix_rpybt9hhumof-7.start{
    counter-reset:lst-ctn-kix_rpybt9hhumof-7 0
}
ol.lst-kix_mhx1l9l96xgk-8{
    list-style-type:none
}
.lst-kix_kak08az8asay-4>li:before{
    content:"\0025cb "
}
ol.lst-kix_mhx1l9l96xgk-7{
    list-style-type:none
}
.lst-kix_uuosod7jpg8a-1>li{
    counter-increment:lst-ctn-kix_uuosod7jpg8a-1
}
ol.lst-kix_mhx1l9l96xgk-6{
    list-style-type:none
}
.lst-kix_8i9nxg2zij2f-6>li{
    counter-increment:lst-ctn-kix_8i9nxg2zij2f-6
}
ol.lst-kix_mhx1l9l96xgk-5{
    list-style-type:none
}
ol.lst-kix_mhx1l9l96xgk-4{
    list-style-type:none
}
.lst-kix_kak08az8asay-5>li:before{
    content:"\0025a0 "
}
ol.lst-kix_mhx1l9l96xgk-3{
    list-style-type:none
}
ol.lst-kix_uuosod7jpg8a-6.start{
    counter-reset:lst-ctn-kix_uuosod7jpg8a-6 0
}
ol.lst-kix_mhx1l9l96xgk-2{
    list-style-type:none
}
ol.lst-kix_mhx1l9l96xgk-1{
    list-style-type:none
}
ol.lst-kix_mhx1l9l96xgk-0{
    list-style-type:none
}
.lst-kix_kak08az8asay-8>li:before{
    content:"\0025a0 "
}
ol.lst-kix_uuosod7jpg8a-7.start{
    counter-reset:lst-ctn-kix_uuosod7jpg8a-7 0
}
.lst-kix_rpybt9hhumof-0>li{
    counter-increment:lst-ctn-kix_rpybt9hhumof-0
}
.lst-kix_7dm1ahgy58l0-7>li:before{
    content:"" counter(lst-ctn-kix_7dm1ahgy58l0-7,lower-latin) ". "
}
.lst-kix_ca48v08pn5vd-4>li:before{
    content:"\0025cb "
}
.lst-kix_ca48v08pn5vd-5>li:before{
    content:"\0025a0 "
}
.lst-kix_7dm1ahgy58l0-6>li:before{
    content:"" counter(lst-ctn-kix_7dm1ahgy58l0-6,decimal) ". "
}
.lst-kix_7y8yznsd3e2u-5>li{
    counter-increment:lst-ctn-kix_7y8yznsd3e2u-5
}
.lst-kix_h39oat3r5eoi-1>li{
    counter-increment:lst-ctn-kix_h39oat3r5eoi-1
}
ol.lst-kix_xmv83rt4636t-6.start{
    counter-reset:lst-ctn-kix_xmv83rt4636t-6 0
}
.lst-kix_ca48v08pn5vd-0>li:before{
    content:"\0025cf "
}
.lst-kix_ca48v08pn5vd-1>li:before{
    content:"\0025cb "
}
ol.lst-kix_rpybt9hhumof-1.start{
    counter-reset:lst-ctn-kix_rpybt9hhumof-1 0
}
.lst-kix_7dm1ahgy58l0-1>li{
    counter-increment:lst-ctn-kix_7dm1ahgy58l0-1
}
.lst-kix_yaddz9mwe536-7>li:before{
    content:"\0025cb "
}
.lst-kix_yaddz9mwe536-8>li:before{
    content:"\0025a0 "
}
ol.lst-kix_h39oat3r5eoi-3.start{
    counter-reset:lst-ctn-kix_h39oat3r5eoi-3 0
}
.lst-kix_yaddz9mwe536-4>li:before{
    content:"\0025cb "
}
ol.lst-kix_xmv83rt4636t-0.start{
    counter-reset:lst-ctn-kix_xmv83rt4636t-0 0
}
ol.lst-kix_rpybt9hhumof-8.start{
    counter-reset:lst-ctn-kix_rpybt9hhumof-8 0
}
ol.lst-kix_rpybt9hhumof-6{
    list-style-type:none
}
ul.lst-kix_kak08az8asay-3{
    list-style-type:none
}
ul.lst-kix_xfcgjdg2hxtj-4{
    list-style-type:none
}
ol.lst-kix_rpybt9hhumof-7{
    list-style-type:none
}
ul.lst-kix_kak08az8asay-4{
    list-style-type:none
}
ul.lst-kix_xfcgjdg2hxtj-5{
    list-style-type:none
}
ol.lst-kix_rpybt9hhumof-4{
    list-style-type:none
}
ul.lst-kix_kak08az8asay-1{
    list-style-type:none
}
ul.lst-kix_xfcgjdg2hxtj-6{
    list-style-type:none
}
ol.lst-kix_rpybt9hhumof-5{
    list-style-type:none
}
ul.lst-kix_kak08az8asay-2{
    list-style-type:none
}
ul.lst-kix_xfcgjdg2hxtj-7{
    list-style-type:none
}
.lst-kix_h39oat3r5eoi-3>li{
    counter-increment:lst-ctn-kix_h39oat3r5eoi-3
}
ul.lst-kix_xfcgjdg2hxtj-8{
    list-style-type:none
}
ul.lst-kix_kak08az8asay-0{
    list-style-type:none
}
ol.lst-kix_rpybt9hhumof-8{
    list-style-type:none
}
ol.lst-kix_7dm1ahgy58l0-1.start{
    counter-reset:lst-ctn-kix_7dm1ahgy58l0-1 0
}
ol.lst-kix_rpybt9hhumof-2{
    list-style-type:none
}
ol.lst-kix_rpybt9hhumof-3{
    list-style-type:none
}
ol.lst-kix_rpybt9hhumof-0{
    list-style-type:none
}
.lst-kix_rpybt9hhumof-2>li{
    counter-increment:lst-ctn-kix_rpybt9hhumof-2
}
ol.lst-kix_rpybt9hhumof-1{
    list-style-type:none
}
ol.lst-kix_rpybt9hhumof-6.start{
    counter-reset:lst-ctn-kix_rpybt9hhumof-6 0
}
ol.lst-kix_xmv83rt4636t-1.start{
    counter-reset:lst-ctn-kix_xmv83rt4636t-1 0
}
.lst-kix_uuosod7jpg8a-4>li{
    counter-increment:lst-ctn-kix_uuosod7jpg8a-4
}
.lst-kix_7dm1ahgy58l0-3>li:before{
    content:"" counter(lst-ctn-kix_7dm1ahgy58l0-3,decimal) ". "
}
ul.lst-kix_kak08az8asay-7{
    list-style-type:none
}
ul.lst-kix_kak08az8asay-8{
    list-style-type:none
}
ul.lst-kix_kak08az8asay-5{
    list-style-type:none
}
ul.lst-kix_kak08az8asay-6{
    list-style-type:none
}
.lst-kix_8i9nxg2zij2f-2>li:before{
    content:"" counter(lst-ctn-kix_8i9nxg2zij2f-2,lower-roman) ". "
}
ol.lst-kix_h39oat3r5eoi-1.start{
    counter-reset:lst-ctn-kix_h39oat3r5eoi-1 0
}
.lst-kix_8i9nxg2zij2f-4>li{
    counter-increment:lst-ctn-kix_8i9nxg2zij2f-4
}
ol.lst-kix_rpybt9hhumof-3.start{
    counter-reset:lst-ctn-kix_rpybt9hhumof-3 0
}
.lst-kix_xfcgjdg2hxtj-7>li:before{
    content:"\0025cb "
}
.lst-kix_uuosod7jpg8a-6>li{
    counter-increment:lst-ctn-kix_uuosod7jpg8a-6
}
.lst-kix_7y8yznsd3e2u-0>li{
    counter-increment:lst-ctn-kix_7y8yznsd3e2u-0
}
.lst-kix_8i9nxg2zij2f-6>li:before{
    content:"" counter(lst-ctn-kix_8i9nxg2zij2f-6,decimal) ". "
}
ol.lst-kix_7y8yznsd3e2u-6.start{
    counter-reset:lst-ctn-kix_7y8yznsd3e2u-6 0
}
ul.lst-kix_xfcgjdg2hxtj-0{
    list-style-type:none
}
ol.lst-kix_uuosod7jpg8a-8.start{
    counter-reset:lst-ctn-kix_uuosod7jpg8a-8 0
}
ul.lst-kix_xfcgjdg2hxtj-1{
    list-style-type:none
}
.lst-kix_xfcgjdg2hxtj-3>li:before{
    content:"\0025cf "
}
.lst-kix_mhx1l9l96xgk-1>li{
    counter-increment:lst-ctn-kix_mhx1l9l96xgk-1
}
ul.lst-kix_xfcgjdg2hxtj-2{
    list-style-type:none
}
ul.lst-kix_xfcgjdg2hxtj-3{
    list-style-type:none
}
.lst-kix_xmv83rt4636t-1>li:before{
    content:"" counter(lst-ctn-kix_xmv83rt4636t-1,lower-latin) ". "
}
ol.lst-kix_7y8yznsd3e2u-7.start{
    counter-reset:lst-ctn-kix_7y8yznsd3e2u-7 0
}
.lst-kix_xmv83rt4636t-5>li:before{
    content:"" counter(lst-ctn-kix_xmv83rt4636t-5,lower-roman) ". "
}
.lst-kix_7y8yznsd3e2u-7>li{
    counter-increment:lst-ctn-kix_7y8yznsd3e2u-7
}
.lst-kix_rpybt9hhumof-7>li:before{
    content:"" counter(lst-ctn-kix_rpybt9hhumof-7,lower-latin) ". "
}
ol.lst-kix_h39oat3r5eoi-0.start{
    counter-reset:lst-ctn-kix_h39oat3r5eoi-0 0
}
.lst-kix_mhx1l9l96xgk-2>li:before{
    content:"" counter(lst-ctn-kix_mhx1l9l96xgk-2,lower-roman) ". "
}
.lst-kix_7dm1ahgy58l0-8>li{
    counter-increment:lst-ctn-kix_7dm1ahgy58l0-8
}
.lst-kix_mhx1l9l96xgk-6>li{
    counter-increment:lst-ctn-kix_mhx1l9l96xgk-6
}
ol.lst-kix_xmv83rt4636t-4.start{
    counter-reset:lst-ctn-kix_xmv83rt4636t-4 0
}
ol.lst-kix_rpybt9hhumof-4.start{
    counter-reset:lst-ctn-kix_rpybt9hhumof-4 0
}
.lst-kix_rpybt9hhumof-3>li:before{
    content:"" counter(lst-ctn-kix_rpybt9hhumof-3,decimal) ". "
}
.lst-kix_mhx1l9l96xgk-6>li:before{
    content:"" counter(lst-ctn-kix_mhx1l9l96xgk-6,decimal) ". "
}
ol.lst-kix_uuosod7jpg8a-7{
    list-style-type:none
}
ol.lst-kix_uuosod7jpg8a-8{
    list-style-type:none
}
ol.lst-kix_uuosod7jpg8a-5{
    list-style-type:none
}
ol.lst-kix_uuosod7jpg8a-6{
    list-style-type:none
}
ol.lst-kix_uuosod7jpg8a-3{
    list-style-type:none
}
ol.lst-kix_uuosod7jpg8a-4{
    list-style-type:none
}
ol.lst-kix_uuosod7jpg8a-1{
    list-style-type:none
}
ol.lst-kix_uuosod7jpg8a-2{
    list-style-type:none
}
ol.lst-kix_7y8yznsd3e2u-8.start{
    counter-reset:lst-ctn-kix_7y8yznsd3e2u-8 0
}
ol.lst-kix_uuosod7jpg8a-0{
    list-style-type:none
}
.lst-kix_uuosod7jpg8a-6>li:before{
    content:"" counter(lst-ctn-kix_uuosod7jpg8a-6,decimal) ". "
}
ul.lst-kix_8ia840nd2qnl-1{
    list-style-type:none
}
ul.lst-kix_8ia840nd2qnl-0{
    list-style-type:none
}
.lst-kix_xmv83rt4636t-5>li{
    counter-increment:lst-ctn-kix_xmv83rt4636t-5
}
ol.lst-kix_rpybt9hhumof-5.start{
    counter-reset:lst-ctn-kix_rpybt9hhumof-5 0
}
ol.lst-kix_xmv83rt4636t-3.start{
    counter-reset:lst-ctn-kix_xmv83rt4636t-3 0
}
ul.lst-kix_8ia840nd2qnl-8{
    list-style-type:none
}
ul.lst-kix_8ia840nd2qnl-7{
    list-style-type:none
}
ul.lst-kix_8ia840nd2qnl-6{
    list-style-type:none
}
ul.lst-kix_8ia840nd2qnl-5{
    list-style-type:none
}
ul.lst-kix_8ia840nd2qnl-4{
    list-style-type:none
}
ul.lst-kix_8ia840nd2qnl-3{
    list-style-type:none
}
ul.lst-kix_8ia840nd2qnl-2{
    list-style-type:none
}
ol{
    margin:0;
    padding:0
}
table td,table th{
    padding:0
}
.c24{
    -webkit-text-decoration-skip:none;
    color:#000000;
    text-decoration:underline;
    vertical-align:baseline;
    text-decoration-skip-ink:none;
    font-size:16pt;
    font-family:"Arial";
    font-style:normal
}
.c3{
    margin-left:36pt;
    padding-top:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left
}
.c19{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:20pt;
    font-family:"Arial";
    font-style:normal
}
.c8{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c0{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:12pt;
    font-family:"Arial";
    font-style:normal
}
.c4{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:16pt;
    font-family:"Arial";
    font-style:normal
}
.c16{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10pt;
    font-family:"Arial";
    font-style:normal
}
.c18{
    color:#000000;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c13{
    color:#000000;
    text-decoration:none;
    vertical-align:baseline;
    font-size:24pt;
    font-family:"Arial";
    font-style:normal
}
.c21{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left
}
.c1{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
}
.c7{
    padding-top:18pt;
    padding-bottom:6pt;
    line-height:1.0;
    page-break-after:avoid;
    text-align:left
}
.c26{
    color:#000000;
    text-decoration:none;
    vertical-align:baseline;
    font-family:"Arial";
    font-style:normal
}
.c25{
    padding-top:0pt;
    padding-bottom:3pt;
    line-height:1.15;
    page-break-after:avoid;
    text-align:center
}
.c12{
    text-decoration-skip-ink:none;
    font-size:12pt;
    -webkit-text-decoration-skip:none;
    color:#1155cc;
    text-decoration:underline
}
.c2{
    padding-top:20pt;
    padding-bottom:6pt;
    line-height:1.15;
    page-break-after:avoid;
    text-align:left
}
.c6{
    padding-top:18pt;
    padding-bottom:6pt;
    line-height:1.15;
    page-break-after:avoid;
    text-align:left
}
.c11{
    padding-top:20pt;
    padding-bottom:6pt;
    line-height:1.0;
    page-break-after:avoid;
    text-align:left
}
.c23{
    background-color:#ffffff;
    max-width:468pt;
    padding:72pt 72pt 72pt 72pt
}
.c5{
    padding:0;
    margin:0
}
.c9{
    margin-left:36pt;
    padding-left:0pt
}
.c17{
    width:33%;
    height:1px
}
.c22{
    color:inherit;
    text-decoration:inherit
}
.c14{
    margin-left:72pt;
    padding-left:0pt
}
.c15{
    font-size:12pt
}
.c10{
    font-weight:700
}
.c20{
    height:11pt
}
.title{
    padding-top:0pt;
    color:#000000;
    font-size:26pt;
    padding-bottom:3pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.subtitle{
    padding-top:0pt;
    color:#666666;
    font-size:15pt;
    padding-bottom:16pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
li{
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
p{
    margin:0;
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
h1{
    padding-top:20pt;
    color:#000000;
    font-size:20pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h2{
    padding-top:18pt;
    color:#000000;
    font-size:16pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h3{
    padding-top:16pt;
    color:#434343;
    font-size:14pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h4{
    padding-top:14pt;
    color:#666666;
    font-size:12pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h5{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h6{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
}

